# admin-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: admin
  template:
    metadata:
      labels:
        app: admin
    spec:
      containers:
      - name: admin-container
        image: us.gcr.io/prod-project-477306/myapp:latest # Replace with your admin Docker image
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: admin-service
spec:
  type: NodePort        # <- must be NodePort
  selector:
    app: admin
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080   # optional, K8s will auto-assign if omitted



