apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: admin-ingress
  annotations:
    kubernetes.io/ingress.class: "gce"        # GCP GKE Ingress controller
    networking.gke.io/managed-certificates: "admin-cert"  # optional, for HTTPS
spec:
  rules:
  - host: admin.a-sysops.in
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: admin-service
            port:
              number: 80


